@model Mesto

<div class="container mt-4" style="max-width: 50%;">
    <h3 class="text-center mb-4">Add new place</h3>

    <div class="card shadow-lg">
        <div class="card-body">
            <form method="post" asp-action="AddPlace">
                <div class="text-info mb-3" asp-validation-summary="All"></div>

                <!-- Naziv -->
                <div class="mb-3 row">
                    <label asp-for="Naziv" class="col-sm-3 col-form-label">Place name</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Naziv" class="form-control" placeholder="Enter place name" />
                        <span class="text-danger" asp-validation-for="Naziv"></span>
                    </div>
                </div>

                <!-- Opština -->
                <div class="mb-3 row">
                    <label asp-for="Opstina" class="col-sm-3 col-form-label">Municipality</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="Opstina" class="form-control" placeholder="Enter municipality" />
                        <span class="text-danger" asp-validation-for="Opstina"></span>
                    </div>
                </div>

                <!-- Postal code -->
                <div class="mb-3 row">
                    <label asp-for="PostanskiBroj" class="col-sm-3 col-form-label">Postal code</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="PostanskiBroj" class="form-control" placeholder="Enter postal code" />
                        <span class="text-danger" asp-validation-for="PostanskiBroj"></span>
                    </div>
                </div>

                <!-- Submit and Cancel Buttons -->
                <div class="mb-3 row">
                    <div class="col-sm-9 offset-sm-3">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        <button type="button" class="btn btn-secondary btn-block" onclick="window.location.href='@Url.Action("Index", "Places")'">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
